a {
    text-decoration: none;
    color: inherit;
}

.calc {
    width: 200px;
    margin: 0 auto;
    background-color: rgba(19, 18, 50, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.calc__result {
    height: 100px;
    padding: 0 20px;
    border-bottom: 1px solid #fff;
    background-color: #05061a;
    color: #fff;
}

.calc__result-value-wrapper {
    max-width: 100%; 
    text-overflow: clip; 
    overflow-x: auto; 
    height: 100%; 
    display: flex; 
    align-items: center;
}

.calc__buttons-wrapper {
    padding: 10px;
}

.calc__buttons-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    text-align: center;
}

.calc__buttons-row:last-of-type {
    margin-bottom: 0;
}

.calc__row-item,
.calc__row-item-clear {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid grey;
    border-radius: 50%;
    color: #fff;
    transition: .2s;
}

.calc__row-item:hover,
.calc__row-item-clear:hover {
    background-color: #05061a;
}

.calc__row-item-operator {
    background-color: #f9781b;
}

.calc__row-item-operator:hover {
    background-color: #bc5104;
}
